{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            {{ form_errors(form) }}
        </div>
        <div class="row">
            <div class="col">
                {% form_theme form 'bootstrap_4_layout.html.twig' %}
                {{ form_start(form) }}
                {{ form_row(form.name) }}
                {{ form_row(form.file) }}
                <div class="row">
                    <div class="col">
                        {{ form_row(form.width) }}
                    </div>
                    <div class="col">
                        {{ form_row(form.height) }}
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    {% if image %}
        <div class="row">
            <div class="col text-center">
                <h1>File name:{{ image.name }}</h1>
                <h4>Size: {{ image.width }}px x {{ image.height }}px</h4>
                <img src="{{ image.path }}" class="rounded" alt="{{ image.name }}">
            </div>
        </div>
    {% endif %}
{% endblock %}